{
  "arrowParens": "always",
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "quoteProps": "consistent",
  "semi": true,
  "useTabs": false,
  "overrides": [
    {
      "files": "fetch-problems*",
      "options": {
        "printWidth": 140
      }
    }
  ]
}
